/* Example */
.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}
/* End Example */

/* Header */
.header {
    background: var(--main-color);
}
/* End Header */

/* Slider Home */
.slider-home {
    background: var(--highlight-color);
}
/* End Slider Home */

/* Footer */
.footer {
    background: var(--text-color);
    color: var(--white-color);
}
/* End Footer */